/node_modules
/public/storage
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.phpstorm.meta.php
_ide_helper.php
public/css
public/js
public/build
public/images
_ide_helper_models.php
public/fonts/MarkPro-Bold.eot
public/fonts/MarkPro-Bold.svg
public/fonts/MarkPro-Bold.ttf
public/fonts/MarkPro-Bold.woff
public/fonts/MarkPro-Bold.woff2
public/fonts/MarkPro-Bold.otf
public/fonts/fontawesome-webfont.eot
public/fonts/fontawesome-webfont.svg
public/fonts/fontawesome-webfont.ttf
public/fonts/fontawesome-webfont.woff
public/fonts/fontawesome-webfont.woff2
public/fonts/FontAwesome.otf
